In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pandas as pd

In [3]:
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: java.lang.ExceptionInInitializerError
	at org.apache.spark.unsafe.array.ByteArrayMethods.<clinit>(ByteArrayMethods.java:52)
	at org.apache.spark.memory.MemoryManager.defaultPageSizeBytes$lzycompute(MemoryManager.scala:261)
	at org.apache.spark.memory.MemoryManager.defaultPageSizeBytes(MemoryManager.scala:251)
	at org.apache.spark.memory.MemoryManager.$anonfun$pageSizeBytes$1(MemoryManager.scala:270)
	at scala.runtime.java8.JFunction0$mcJ$sp.apply(JFunction0$mcJ$sp.java:23)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.memory.MemoryManager.<init>(MemoryManager.scala:270)
	at org.apache.spark.memory.UnifiedMemoryManager.<init>(UnifiedMemoryManager.scala:58)
	at org.apache.spark.memory.UnifiedMemoryManager$.apply(UnifiedMemoryManager.scala:207)
	at org.apache.spark.SparkEnv$.create(SparkEnv.scala:325)
	at org.apache.spark.SparkEnv$.createDriverEnv(SparkEnv.scala:196)
	at org.apache.spark.SparkContext.createSparkEnv(SparkContext.scala:279)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:464)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at java.base/jdk.internal.reflect.DirectConstructorHandleAccessor.newInstance(DirectConstructorHandleAccessor.java:62)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:502)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:486)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1570)
Caused by: java.lang.IllegalStateException: java.lang.NoSuchMethodException: java.nio.DirectByteBuffer.<init>(long,int)
	at org.apache.spark.unsafe.Platform.<clinit>(Platform.java:113)
	... 25 more
Caused by: java.lang.NoSuchMethodException: java.nio.DirectByteBuffer.<init>(long,int)
	at java.base/java.lang.Class.getConstructor0(Class.java:3784)
	at java.base/java.lang.Class.getDeclaredConstructor(Class.java:2955)
	at org.apache.spark.unsafe.Platform.<clinit>(Platform.java:71)
	... 25 more

In [ ]:
sqlContext = SQLContext(sc)
df = sqlContext.read.csv('../data/bigmac.csv', header=True, inferSchema=True)
rdd = df.rdd

c:\Users\lufer\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [ ]:
rdd.collect()

[Row(name='Argentina', iso_a3='ARG', currency_code='ARS', local_price=2.5, dollar_ex=1.0, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Australia', iso_a3='AUS', currency_code='AUD', local_price=2.59, dollar_ex=1.68, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Brazil', iso_a3='BRA', currency_code='BRL', local_price=2.95, dollar_ex=1.79, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Britain', iso_a3='GBR', currency_code='GBP', local_price=1.9, dollar_ex=0.632911392, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Canada', iso_a3='CAN', currency_code='CAD', local_price=2.85, dollar_ex=1.47, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Chile', iso_a3='CHL', currency_code='CLP', local_price=1260.0, dollar_ex=514.0, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='China', iso_a3='CHN', currency_code='CNY', local_price=9.9, dollar_ex=8.28, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Czech Republic', iso_a3='CZE', currency_code='CZK', local_price=54.37, dollar_ex=39.1, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Denmark', iso_a3='DNK', currency_code='DKK', local_price=24.75, dollar_ex=8.04, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Euro area', iso_a3='EUZ', currency_code='EUR', local_price=2.56, dollar_ex=1.075268817, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Hong Kong', iso_a3='HKG', currency_code='HKD', local_price=10.2, dollar_ex=7.79, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Hungary', iso_a3='HUN', currency_code='HUF', local_price=339.0, dollar_ex=279.0, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Indonesia', iso_a3='IDN', currency_code='IDR', local_price=14500.0, dollar_ex=7945.0, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Israel', iso_a3='ISR', currency_code='ILS', local_price=14.5, dollar_ex=4.05, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Japan', iso_a3='JPN', currency_code='JPY', local_price=294.0, dollar_ex=106.0, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Malaysia', iso_a3='MYS', currency_code='MYR', local_price=4.52, dollar_ex=3.8, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Mexico', iso_a3='MEX', currency_code='MXN', local_price=20.9, dollar_ex=9.41, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='New Zealand', iso_a3='NZL', currency_code='NZD', local_price=3.4, dollar_ex=2.01, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Poland', iso_a3='POL', currency_code='PLN', local_price=5.5, dollar_ex=4.3, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Russia', iso_a3='RUS', currency_code='RUB', local_price=39.5, dollar_ex=28.5, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Singapore', iso_a3='SGP', currency_code='SGD', local_price=3.2, dollar_ex=1.7, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='South Africa', iso_a3='ZAF', currency_code='ZAR', local_price=9.0, dollar_ex=6.72, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='South Korea', iso_a3='KOR', currency_code='KRW', local_price=3000.0, dollar_ex=1108.0, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Sweden', iso_a3='SWE', currency_code='SEK', local_price=24.0, dollar_ex=8.84, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Switzerland', iso_a3='CHE', currency_code='CHF', local_price=5.9, dollar_ex=1.7, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Taiwan', iso_a3='TWN', currency_code='TWD', local_price=70.0, dollar_ex=30.6, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Thailand', iso_a3='THA', currency_code='THB', local_price=55.0, dollar_ex=38.0, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='United States', iso_a3='USA', currency_code='USD', local_price=2.24, dollar_ex=1.0, GDP_dollar=None, date=datetime.date(2000, 4, 1)),
 Row(name='Argentina', iso_a3='ARG', currency_code='ARS', local_price=2.5, dollar_ex=1.0, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Australia', iso_a3='AUS', currency_code='AUD', local_price=3.0, dollar_ex=1.98, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Brazil', iso_a3='BRA', currency_code='BRL', local_price=3.6, dollar_ex=2.19, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Britain', iso_a3='GBR', currency_code='GBP', local_price=1.99, dollar_ex=0.699300699, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Canada', iso_a3='CAN', currency_code='CAD', local_price=3.33, dollar_ex=1.56, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Chile', iso_a3='CHL', currency_code='CLP', local_price=1260.0, dollar_ex=601.0, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='China', iso_a3='CHN', currency_code='CNY', local_price=9.9, dollar_ex=8.28, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Czech Republic', iso_a3='CZE', currency_code='CZK', local_price=56.0, dollar_ex=39.0, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Denmark', iso_a3='DNK', currency_code='DKK', local_price=24.75, dollar_ex=8.46, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Euro area', iso_a3='EUZ', currency_code='EUR', local_price=2.57, dollar_ex=1.136363636, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Hong Kong', iso_a3='HKG', currency_code='HKD', local_price=10.7, dollar_ex=7.8, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Hungary', iso_a3='HUN', currency_code='HUF', local_price=399.0, dollar_ex=303.0, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Indonesia', iso_a3='IDN', currency_code='IDR', local_price=14700.0, dollar_ex=10855.0, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Japan', iso_a3='JPN', currency_code='JPY', local_price=294.0, dollar_ex=124.0, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Malaysia', iso_a3='MYS', currency_code='MYR', local_price=4.52, dollar_ex=3.8, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Mexico', iso_a3='MEX', currency_code='MXN', local_price=21.9, dollar_ex=9.29, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='New Zealand', iso_a3='NZL', currency_code='NZD', local_price=3.6, dollar_ex=2.47, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Philippines', iso_a3='PHL', currency_code='PHP', local_price=59.0, dollar_ex=50.3, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Poland', iso_a3='POL', currency_code='PLN', local_price=5.9, dollar_ex=4.03, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Russia', iso_a3='RUS', currency_code='RUB', local_price=35.0, dollar_ex=28.9, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Singapore', iso_a3='SGP', currency_code='SGD', local_price=3.3, dollar_ex=1.81, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='South Africa', iso_a3='ZAF', currency_code='ZAR', local_price=9.7, dollar_ex=8.13, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='South Korea', iso_a3='KOR', currency_code='KRW', local_price=3000.0, dollar_ex=1325.0, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Sweden', iso_a3='SWE', currency_code='SEK', local_price=24.0, dollar_ex=10.28, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Switzerland', iso_a3='CHE', currency_code='CHF', local_price=6.3, dollar_ex=1.73, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Taiwan', iso_a3='TWN', currency_code='TWD', local_price=70.0, dollar_ex=32.9, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Thailand', iso_a3='THA', currency_code='THB', local_price=55.0, dollar_ex=45.5, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='United States', iso_a3='USA', currency_code='USD', local_price=2.24, dollar_ex=1.0, GDP_dollar=None, date=datetime.date(2001, 4, 1)),
 Row(name='Argentina', iso_a3='ARG', currency_code='ARS', local_price=2.5, dollar_ex=3.13, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Australia', iso_a3='AUS', currency_code='AUD', local_price=3.0, dollar_ex=1.86, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Brazil', iso_a3='BRA', currency_code='BRL', local_price=3.6, dollar_ex=2.34, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Britain', iso_a3='GBR', currency_code='GBP', local_price=1.99, dollar_ex=0.689655172, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Canada', iso_a3='CAN', currency_code='CAD', local_price=3.33, dollar_ex=1.57, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Chile', iso_a3='CHL', currency_code='CLP', local_price=1400.0, dollar_ex=655.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='China', iso_a3='CHN', currency_code='CNY', local_price=10.5, dollar_ex=8.28, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Czech Republic', iso_a3='CZE', currency_code='CZK', local_price=56.28, dollar_ex=34.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Denmark', iso_a3='DNK', currency_code='DKK', local_price=24.75, dollar_ex=8.38, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Euro area', iso_a3='EUZ', currency_code='EUR', local_price=2.67, dollar_ex=1.123595506, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Hong Kong', iso_a3='HKG', currency_code='HKD', local_price=11.2, dollar_ex=8.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Hungary', iso_a3='HUN', currency_code='HUF', local_price=459.0, dollar_ex=272.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Indonesia', iso_a3='IDN', currency_code='IDR', local_price=16000.0, dollar_ex=9430.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Israel', iso_a3='ISR', currency_code='ILS', local_price=12.0, dollar_ex=4.79, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Japan', iso_a3='JPN', currency_code='JPY', local_price=262.0, dollar_ex=130.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Malaysia', iso_a3='MYS', currency_code='MYR', local_price=5.04, dollar_ex=3.8, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Mexico', iso_a3='MEX', currency_code='MXN', local_price=21.9, dollar_ex=9.28, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='New Zealand', iso_a3='NZL', currency_code='NZD', local_price=3.6, dollar_ex=2.24, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Norway', iso_a3='NOR', currency_code='NOK', local_price=35.0, dollar_ex=8.56, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Peru', iso_a3='PER', currency_code='PEN', local_price=8.5, dollar_ex=3.43, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Philippines', iso_a3='PHL', currency_code='PHP', local_price=65.0, dollar_ex=51.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Poland', iso_a3='POL', currency_code='PLN', local_price=5.9, dollar_ex=4.04, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Russia', iso_a3='RUS', currency_code='RUB', local_price=39.0, dollar_ex=31.2, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Singapore', iso_a3='SGP', currency_code='SGD', local_price=3.3, dollar_ex=1.82, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='South Africa', iso_a3='ZAF', currency_code='ZAR', local_price=9.7, dollar_ex=10.9, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='South Korea', iso_a3='KOR', currency_code='KRW', local_price=3100.0, dollar_ex=1304.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Sweden', iso_a3='SWE', currency_code='SEK', local_price=26.0, dollar_ex=10.4, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Switzerland', iso_a3='CHE', currency_code='CHF', local_price=6.3, dollar_ex=1.66, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Taiwan', iso_a3='TWN', currency_code='TWD', local_price=70.0, dollar_ex=34.8, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Thailand', iso_a3='THA', currency_code='THB', local_price=55.0, dollar_ex=43.3, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Turkey', iso_a3='TUR', currency_code='TRY', local_price=4000000.0, dollar_ex=1324500.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='United States', iso_a3='USA', currency_code='USD', local_price=2.35, dollar_ex=1.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Venezuela', iso_a3='VEN', currency_code='VEF', local_price=2500.0, dollar_ex=857.0, GDP_dollar=None, date=datetime.date(2002, 4, 1)),
 Row(name='Argentina', iso_a3='ARG', currency_code='ARS', local_price=4.1, dollar_ex=2.88, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Australia', iso_a3='AUS', currency_code='AUD', local_price=3.0, dollar_ex=1.61, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Brazil', iso_a3='BRA', currency_code='BRL', local_price=4.55, dollar_ex=3.07, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Britain', iso_a3='GBR', currency_code='GBP', local_price=1.99, dollar_ex=0.632911392, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Canada', iso_a3='CAN', currency_code='CAD', local_price=3.2, dollar_ex=1.45, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Chile', iso_a3='CHL', currency_code='CLP', local_price=1400.0, dollar_ex=716.0, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='China', iso_a3='CHN', currency_code='CNY', local_price=9.9, dollar_ex=8.28, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Czech Republic', iso_a3='CZE', currency_code='CZK', local_price=56.57, dollar_ex=28.9, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Denmark', iso_a3='DNK', currency_code='DKK', local_price=27.75, dollar_ex=6.78, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Egypt', iso_a3='EGY', currency_code='EGP', local_price=8.0, dollar_ex=5.92, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Euro area', iso_a3='EUZ', currency_code='EUR', local_price=2.71, dollar_ex=0.909090909, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Hong Kong', iso_a3='HKG', currency_code='HKD', local_price=11.5, dollar_ex=7.8, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Hungary', iso_a3='HUN', currency_code='HUF', local_price=490.0, dollar_ex=224.0, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Indonesia', iso_a3='IDN', currency_code='IDR', local_price=16100.0, dollar_ex=8740.0, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Japan', iso_a3='JPN', currency_code='JPY', local_price=262.0, dollar_ex=120.0, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Malaysia', iso_a3='MYS', currency_code='MYR', local_price=5.04, dollar_ex=3.8, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Mexico', iso_a3='MEX', currency_code='MXN', local_price=23.0, dollar_ex=10.53, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='New Zealand', iso_a3='NZL', currency_code='NZD', local_price=3.95, dollar_ex=1.78, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Peru', iso_a3='PER', currency_code='PEN', local_price=7.9, dollar_ex=3.46, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Philippines', iso_a3='PHL', currency_code='PHP', local_price=65.0, dollar_ex=52.5, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Poland', iso_a3='POL', currency_code='PLN', local_price=6.3, dollar_ex=3.89, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Russia', iso_a3='RUS', currency_code='RUB', local_price=41.0, dollar_ex=31.1, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Singapore', iso_a3='SGP', currency_code='SGD', local_price=3.3, dollar_ex=1.78, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='South Africa', iso_a3='ZAF', currency_code='ZAR', local_price=13.95, dollar_ex=7.56, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='South Korea', iso_a3='KOR', currency_code='KRW', local_price=3300.0, dollar_ex=1220.0, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Sweden', iso_a3='SWE', currency_code='SEK', local_price=30.0, dollar_ex=8.34, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Switzerland', iso_a3='CHE', currency_code='CHF', local_price=6.3, dollar_ex=1.37, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Taiwan', iso_a3='TWN', currency_code='TWD', local_price=70.0, dollar_ex=34.8, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Thailand', iso_a3='THA', currency_code='THB', local_price=59.0, dollar_ex=42.7, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Turkey', iso_a3='TUR', currency_code='TRY', local_price=3750000.0, dollar_ex=1600500.0, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='United States', iso_a3='USA', currency_code='USD', local_price=2.46, dollar_ex=1.0, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Venezuela', iso_a3='VEN', currency_code='VEF', local_price=3700.0, dollar_ex=1598.0, GDP_dollar=None, date=datetime.date(2003, 4, 1)),
 Row(name='Argentina', iso_a3='ARG', currency_code='ARS', local_price=4.36, dollar_ex=2.95, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Australia', iso_a3='AUS', currency_code='AUD', local_price=3.25, dollar_ex=1.43, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Brazil', iso_a3='BRA', currency_code='BRL', local_price=5.4, dollar_ex=3.18, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Britain', iso_a3='GBR', currency_code='GBP', local_price=1.88, dollar_ex=0.558659218, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Canada', iso_a3='CAN', currency_code='CAD', local_price=3.19, dollar_ex=1.37, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Chile', iso_a3='CHL', currency_code='CLP', local_price=1400.0, dollar_ex=641.0, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='China', iso_a3='CHN', currency_code='CNY', local_price=10.4, dollar_ex=8.28, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Colombia', iso_a3='COL', currency_code='COP', local_price=6500.0, dollar_ex=2769.83, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Costa Rica', iso_a3='CRI', currency_code='CRC', local_price=1130.0, dollar_ex=433.55, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Czech Republic', iso_a3='CZE', currency_code='CZK', local_price=56.42, dollar_ex=26.5, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Denmark', iso_a3='DNK', currency_code='DKK', local_price=27.75, dollar_ex=6.22, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Egypt', iso_a3='EGY', currency_code='EGP', local_price=10.0, dollar_ex=6.19, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Euro area', iso_a3='EUZ', currency_code='EUR', local_price=2.74, dollar_ex=0.833333333, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Hong Kong', iso_a3='HKG', currency_code='HKD', local_price=12.0, dollar_ex=7.79, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Hungary', iso_a3='HUN', currency_code='HUF', local_price=530.0, dollar_ex=211.0, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Indonesia', iso_a3='IDN', currency_code='IDR', local_price=16100.0, dollar_ex=9120.0, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Japan', iso_a3='JPN', currency_code='JPY', local_price=262.0, dollar_ex=113.0, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Malaysia', iso_a3='MYS', currency_code='MYR', local_price=5.04, dollar_ex=3.8, GDP_dollar=None, date=datetime.date(2004, 5, 1)),
 Row(name='Mexico', iso_a3='MEX', currency_code='MXN', local_price=24.0, dollar_ex=11.6, GDP_dollar=None, date=datetime.date(2004, 5, 1)),

In [ ]:
rdd.take(5)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 3.0 failed 1 times, most recent failure: Lost task 0.0 in stage 3.0 (TID 3) (Fer executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:192)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:166)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:131)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:535)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:189)
	at java.net.ServerSocket.implAccept(ServerSocket.java:545)
	at java.net.ServerSocket.accept(ServerSocket.java:513)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:179)
	... 15 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2790)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2726)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2725)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2725)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1211)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1211)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1211)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2989)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2928)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2917)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:976)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2284)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:179)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:192)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:166)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:131)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:535)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:189)
	at java.net.ServerSocket.implAccept(ServerSocket.java:545)
	at java.net.ServerSocket.accept(ServerSocket.java:513)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:179)
	... 15 more